<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.account %></p>
  <p><%= @group.location %></p>
  <p><%= @group.bank %></p>
  <p><%= @group.money %></p>
  <p><%= @group.yougtu %></p>
  <p><%= @group.name %></p>

</div>
